<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.analysis.mapper.DeviceMapper" >
    <resultMap id ="Device" type="com.analysis.pojo.Device">
        <result column="device_id" property="device_id"/>
        <result column="device_name" property="device_name"/>
        <result column="device_status" property="device_status"/>
    </resultMap>

    <select id = "queryAllDevice" resultMap="Device">
        select
          device_id,
          device_name,
          device_status
        from
          device
    </select>

</mapper>